<header>
    <nav class="custom-navbar navbar navbar-expand-sm navbar-toggleable-sm  border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand me-5" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/b2u-logo.png" width="100px" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>